/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-07-2016, 10:48:59
    Author     : Roberto
*/

.notificaciones{
    margin: 10px;
    padding: 10px;
}

.table-discovery{
    width: 80%;
    margin: 0 auto;
}

.progress-bar-nodo{
    width: 200px; 
    margin: 0 auto;
}

.panel-discovery{
    width: 85%;
    margin: 0 auto;
    margin-top: 70px;
}

.panel-title-nodos{
    margin-left: 20px;
}


